<div class="gis_IdentifyDijit">
    <div class="formContainer">
        <div data-dojo-type="dijit.form.Form" data-dojo-attach-point="identifyFormDijit">
            <label>Select A Layer:</label><br/>
            <input type="select" data-dojo-type="dijit.form.FilteringSelect" data-dojo-props="name:'identifyLayer',autoComplete:false,required:false,searchAttr:'name',class:'identifySelect'"
                data-dojo-attach-point="identifyLayerDijit" />
            Choose "All Visible Layers" or a single layer for identify.
        </div>
    </div>
</div>
