<div class="layerControl">
    <table class="layerControlTable">
        <tr data-dojo-attach-point="expandClickNode">
            <td class="layerControlTableExpand">
                <i data-dojo-attach-point="expandIconNode" class="${icons.expand} layerControlIcon"></i>
            </td>
            <td class="layerControlTableCheck">
                <i data-dojo-attach-point="checkNode" class="${icons.unchecked} layerControlIcon"></i>
            </td>
            <td class="layerControlTableLabel">
                <span data-dojo-attach-point="labelNode"></span>
            </td>
            <td class="layerControlTableUpdate">
                <i data-dojo-attach-point="layerUpdateNode" class="${icons.update}" style="display:none;"></i>
            </td>
            <td data-dojo-attach-point="menuClickNode" class="layerControlTableMenu">
                <i data-dojo-attach-point="menuNode" class="${icons.menu}"></i>
            </td>
        </tr>
    </table>
    <div data-dojo-attach-point="expandNode" class="layerControlIndent layerControlExpand" style="display:none;"></div>
</div>
