.gis_DrawDijit .outerList>li {
    margin-bottom: 1em;
}
.gis_DrawDijit .list-unstyled {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-left: 0;
}

.gis_DrawDijit .list-inline {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-left: -5px;
    padding-left: 0;
}

.gis_DrawDijit .list-inline > li {
    display: inline-block;
}

.gis_DrawDijit .formContainer {
    width: 100%;
}

.gis_DrawDijit .dijitButtonNode .dijitIcon {
    margin-right: 0;
}