<div>
	<div data-dojo-type="dijit/layout/TabContainer" data-dojo-props="region:'center'" tabStrip="true" data-dojo-attach-point="tabContainer" class="tabContainer">
		<div data-dojo-attach-point="tabByAttribute" data-dojo-type="dijit/layout/ContentPane" title="${i18n.Labels.tabTitleByAttribute}" class="searchTab" selected="true">
	  		<div>
	    		<label>${i18n.Labels.selectALayer}:</label><br>
		    	<select style="width:100%;" data-dojo-attach-point="selectLayerByAttribute" data-dojo-type="dijit/form/Select" data-dojo-attach-event="onChange:onAttributeLayerChange"></select>
	  		</div>
	  		<div data-dojo-attach-point="divAttributeQuerySelect" id="divAttributeQuerySelect">
	    		<label>${i18n.Labels.selectAQuery}:</label><br>
		    	<select style="width:100%;" data-dojo-attach-point="selectAttributeQuery" data-dojo-type="dijit/form/Select" data-dojo-props="disabled:true" data-dojo-attach-event="onChange:onAttributeQueryChange"></select>
	    	</div>
	  		<div id="divAttributeQueryText">
	    		<label data-dojo-attach-point="labelSearchTerm0">&nbsp;</label>
	    		<input type="text" style="width:100%;" data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="inputSearchTerm0" data-dojo-props="trim:true,disabled:true" />
	    		<label data-dojo-attach-point="labelSearchTerm1">&nbsp;</label>
	    		<input type="text" style="width:100%;" data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="inputSearchTerm1" data-dojo-props="trim:true,disabled:true" />
	    		<label data-dojo-attach-point="labelSearchTerm2">&nbsp;</label>
	    		<input type="text" style="width:100%;" data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="inputSearchTerm2" data-dojo-props="trim:true,disabled:true" />
	    		<label data-dojo-attach-point="labelSearchTerm3">&nbsp;</label>
	    		<input type="text" style="width:100%;" data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="inputSearchTerm3" data-dojo-props="trim:true,disabled:true" />
	    		<label data-dojo-attach-point="labelSearchTerm4">&nbsp;</label>
	    		<input type="text" style="width:100%;" data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="inputSearchTerm4" data-dojo-props="trim:true,disabled:true" />
	    	</div>
	  		<div id="divAttributeQueryButton">
		  		<table style="width: 100%;">
		    		<tr>
		      			<td style="text-align: center">
		        			<button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-search fa-fw',showLabel:true,disabled:true" data-dojo-attach-point="btnSearch" data-dojo-attach-event="click:onSearch">${i18n.Buttons.search}</button>
		        		</td>
		    		</tr>
		  		</table>
		  	</div>
		</div>
		<div data-dojo-attach-point="tabByShape" data-dojo-type="dijit/layout/ContentPane" class="searchTab" title="${i18n.Labels.tabTitleByShape}">
		  	<div>
		    	<label>${i18n.Labels.selectALayer}:</label><br/>
		    	<select style="width:100%;" data-dojo-attach-point="selectLayerByShape" data-dojo-type="dijit/form/Select" data-dojo-attach-event="onChange:onShapeLayerChange"></select>
		  	</div>
		  	<div id="divShapeBufferSelection">
			  	<table>
			    	<tr valign="top">
			    		<td align="right">
			    			<label>${i18n.Labels.buffer}:</label>
			    		</td>
				      	<td>
				      		<input type="text" style="width:50px;" data-dojo-type="dijit/form/NumberTextBox" data-dojo-attach-point="inputBufferDistance" data-dojo-props="trim:true" value="0"/>
				      	</td>
				      	<td>
				      		<select style="width:90px;" data-dojo-attach-point="selectBufferUnits" data-dojo-type="dijit/form/Select"></select>
				      	</td>
			    	</tr>
			  	</table>
			  	<table>
			    	<tr valign="top">
			    		<td>
			    			<label style="margin-left:10px;margin-right:5px;">${i18n.Labels.displayBuffer}:</label>
			    		</td>
			    		<td>
			    			<input type="checkbox" data-dojo-attach-point="checkBufferOnly" data-dojo-type="dijit/form/CheckBox" />
			    	</tr>
			  	</table>
		  	</div>
		  	<div id="divShapeTypeSelection">
			  	<label>${i18n.Labels.selectFeaturesBy}:</label><br/>
                <table>
			    	<tr>
                        <td>
                            <button data-dojo-type="dijit/form/ToggleButton" data-dojo-attach-point="searchRectangleButtonDijit" data-dojo-props="iconClass:'draw-icon-rectangle',showLabel:false" data-dojo-attach-event="onClick:drawRectangle" title="${i18n.Buttons.selectByRectangle}"></button>
                            <button data-dojo-type="dijit/form/ToggleButton" data-dojo-attach-point="searchCircleButtonDijit" data-dojo-props="iconClass:'draw-icon-circle',showLabel:false" data-dojo-attach-event="onClick:drawCircle" title="${i18n.Buttons.selectByCircle}"></button>
                            <button data-dojo-type="dijit/form/ToggleButton" data-dojo-attach-point="searchPointButtonDijit" data-dojo-props="iconClass:'draw-icon-point',showLabel:false" data-dojo-attach-event="onClick:drawPoint" title="${i18n.Buttons.selectByPoint}"></button>
                            <button data-dojo-type="dijit/form/ToggleButton" data-dojo-attach-point="searchPolylineButtonDijit" data-dojo-props="iconClass:'draw-icon-polyline',showLabel:false" data-dojo-attach-event="onClick:drawPolyline" title="${i18n.Buttons.selectByPolyline}"></button>
                            <button data-dojo-type="dijit/form/ToggleButton" data-dojo-attach-point="searchFreehandPolylineButtonDijit" data-dojo-props="iconClass:'draw-icon-freehand-polyline',showLabel:false" data-dojo-attach-event="onClick:drawFreehandPolyline" title="${i18n.Buttons.selectByFreehandPolyline}"></button>
                            <button data-dojo-type="dijit/form/ToggleButton" data-dojo-attach-point="searchPolygonButtonDijit" data-dojo-props="iconClass:'draw-icon-polygon',showLabel:false" data-dojo-attach-event="onClick:drawPolygon" title="${i18n.Buttons.selectByPolygon}"></button>
                            <button data-dojo-type="dijit/form/ToggleButton" data-dojo-attach-point="searchFreehandPolygonButtonDijit" data-dojo-props="iconClass:'draw-icon-freehand-polygon',showLabel:false" data-dojo-attach-event="onClick:drawFreehandPolygon" title="${i18n.Buttons.selectByFreehandPolygon}"></button>
				        	<button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-info-circle',showLabel:false,disabled:true" data-dojo-attach-point="searchIdentifyButtonDijit" data-dojo-attach-event="onClick:useIdentifiedFeatures"  title="${i18n.Buttons.selectByIdentify}"></button>
                            <button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-binoculars',showLabel:false,disabled:true" data-dojo-attach-point="searchSelectedButtonDijit" data-dojo-attach-event="onClick:useSelectedFeatures"  title="${i18n.Buttons.selectBySelected}"></button>
				      	</td>
			    	</tr>
			  	</table>
			</div>
		</div>
	</div>
</div>
