.cmvExpandPane.dijitTitlePane {
    background-color: transparent;
    border-radius: 6px;
    max-width: 100%;
 }

.cmvExpandPane .dijitClosed .dijitTitlePaneTextNode,
.cmvExpandPane .dijitTitleClosed .floatingWidgetDock,
.cmvExpandPane .dijitClosed .floatingWidgetPopout,
.cmvExpandPane .dijitClosed .dijitArrowNode {
    display: none !important;
}

.cmvExpandPane .dijitArrowNode {
    float: right;
}

.cmvExpandPane .dijitArrowNode:before {
    content: "\f054" !important;
    font-family: "FontAwesome";
    font-size: 12px;
}

.cmvExpandPane .dijitTitlePaneTitle .titlePaneIcon {
    margin: 0 !important;
    padding: 0 !important;
}
.cmvExpandPane .dijitTitlePaneTitle.dijitClosed .titlePaneIcon {
    font-size: 18px;
}

.cmvExpandPane .dijitTitlePaneTitle {
    padding: 4px;
}