.selectedIcon:before {
    font-family: FontAwesome;
    content: "\f046";
}

.emptyIcon:before {
    font-family: FontAwesome;
    content: "\f096";
}

.basemapsIcon:before {
    font-family: FontAwesome;
    content: "\f009";
}


/* condense dropdown on small screens */

@media screen and (max-width: 600px) {
  #basemaps_widget .dijitButtonText {
    display: none;
  }
}
