.basemapWidget .selectedIcon:before,
.basemapWidget .emptyIcon:before,
.basemapWidget .basemapsIcon:before {
  font-family: FontAwesome;
}

.basemapWidget .selectedIcon:before {
  content: "\f046";
}

.basemapWidget .emptyIcon:before {
  content: "\f096";
}

.basemapWidget .basemapsIcon:before {
  content: "\f009";
}


/* condense dropdown on small screens */

@media (max-width: 768px) {
  .cmv .map .basemapWidget .dijitDropDownButton .dijitButtonNode {
    padding: 4px 8px;
  }
  .cmv .map .basemapWidget .dijitButtonText {
    display: none;
  }
}
