<div class="gis_DrawDijit">
    <div class="formContainer">
        <div style="padding:5px;">
            <div data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'pointIcon',showLabel:true" data-dojo-attach-event="onClick:drawPoint">
                Point
            </div>
            <div data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'lineIcon',showLabel:true" data-dojo-attach-event="onClick:drawLine">
                Line
            </div>
            <div data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'polyIcon',showLabel:true" data-dojo-attach-event="onClick:drawPolygon">
                Polygon
            </div>
        </div>
    </div>
    <div class="buttonActionBar">
        <button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'clearIcon',showLabel:true" data-dojo-attach-event="onClick:clearGraphics">
            Clear Drawing
        </button>
    </div>
</div>
