<div data-dojo-type="dijit/TitlePane" data-dojo-props="title:'Legend',open:false" class="titlePaneBottomFix titlePaneRightFix">
    <div id="legendDijit">
    </div>
</div>
<div data-dojo-type="dijit/TitlePane" data-dojo-props="title:'Draw',open:false" class="titlePaneBottomFix titlePaneRightFix">
    <div id="drawDijit">
    </div>
</div>
<div data-dojo-type="dijit/TitlePane" data-dojo-props="title:'Measure',open:false" class="titlePaneBottomFix titlePaneRightFix">
    <div id="measuremnetDijit">
    </div>
</div>
<div data-dojo-type="dijit/TitlePane" data-dojo-props="title:'Print',open:false" class="titlePaneBottomFix titlePaneRightFix">
    <div id="printDijit">
    </div>
</div>