<div style="position:absolute;bottom:0;left:0;z-index:40;">
    <div id="mapInfoDijit">
    </div>
</div>
<div style="position:absolute;top:20px;right:20px;z-index:40;">
    <div id="basemapsDijit">
    </div>
</div>
<div style="position:absolute;top:60px;right:20px;z-index:40;width:250px;">
    <div id="growlerDijit">
    </div>
</div>
<div style="position: absolute;left:19px;top:94px;z-index:40;">
    <div id="homeButton">
    </div>
    <div id="locateButton">
    </div>
</div>
<div style="position:absolute;top:20px;left:64px;z-index:40;">
    <div id="geocoderButton">
    </div>
</div>