<div class="cmv-ui cmv-ui-map">
    <div class="cmv-ui-top-left"></div>
    <div class="cmv-ui-center-left"></div>
    <div class="cmv-ui-bottom-left">
        <div id="mapInfoDijit" style="display:none;"></div>
    </div>
    <div class="cmv-ui-top-center"></div>
    <div class="cmv-ui-center-center"></div>
    <div class="cmv-ui-bottom-center"></div>
    <div class="cmv-ui-top-right"></div>
    <div class="cmv-ui-center-right"></div>
    <div class="cmv-ui-bottom-right"></div>
</div>
<div class="cmv-ui cmv-ui-inset">
    <div class="cmv-ui-top-left">
        <div id="homeButton" style="display:none;"></div>
        <div id="locateButton" style="display:none;"></div>
    </div>
    <div class="cmv-ui-center-left"></div>
    <div class="cmv-ui-bottom-left"></div>
    <div class="cmv-ui-top-center">
        <div id="geocoderButton" style="display:none;"></div>
    </div>
    <div class="cmv-ui-center-center"></div>
    <div class="cmv-ui-bottom-center"></div>
    <div class="cmv-ui-top-right">
        <div id="basemapsDijit" style="display:none;"></div>
        <div id="growlerDijit" style="display:none;"></div>
    </div>
    <div class="cmv-ui-center-right"></div>
    <div class="cmv-ui-bottom-right"></div>
</div>