.floatingWidgetDock:before {
    float: right;
    content: "\f112";
    font-family: FontAwesome;
}
.floatingWidgetPopout:before {
    float: right;
    content: "\f064";
    font-family: FontAwesome;
}