.gis_GeocoderDijit .zoomSearchButton {
    background-color: #FFFFFF;
    border: 1px solid #57585A;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    height: 26px;
    padding-top: 4px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 30px;
}

.gis_GeocoderDijit .zoomSearchButton:after {
    color: #444444;
    content: '\f002';
    font-family: FontAwesome;
    font-size: 16px;
}

.gis_GeocoderDijit .zoomSearchButton:hover {
    background-color: #EEEEEE;
}

.gis_GeocoderDijit .open .zoomSearchButton {
    background-color: #FFFFFF;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    border-right: 0;
}

.gis_GeocoderDijit .open .zoomSearchButton:hover {
    background-color: #FFFFFF;
}

.gis_GeocoderDijit .searchContainer {
    left: 100%;
    position: absolute;
    top: 0;
    width: 196px;
}

.gis_GeocoderDijit .esriGeocoderContainer * {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.gis_GeocoderDijit .esriGeocoderContainer {
    font-family: verdana, helvetica;
    font-size: 12px;
    width: 100%;
}

.gis_GeocoderDijit .esriGeocoderContainer ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.gis_GeocoderDijit .esriGeocoderIcon {
    display: block;
    float: left;
    margin: 6px 0 6px 6px;
    outline: 0;
    overflow: hidden;
    width: 16px;
}

.gis_GeocoderDijit .dj_rtl .esriGeocoderIcon {
    float: right;
    margin: 6px 6px 6px 0;
}

.gis_GeocoderDijit .esriGeocoder .esriGeocoderClearFloat {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}

.gis_GeocoderDijit .esriGeocoder {
    background: #fff;
    border: 1px solid #57585A;
    border-left: 0px;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    display: block;
    margin: 0px;
    margin-left: -1px;
    width: 100%;
}

.gis_GeocoderDijit .esriGeocoderActive, .gis_GeocoderDijit .esriGeocoderMenuActive {
    border-bottom: 0;
    -webkit-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
}

.gis_GeocoderDijit .esriGeocoder input {
    background: none;
    border: 0;
    border-collapse: collapse;
    color: #444;
    display: block;
    float: left;
    font-size: 12px;
    height: 16px;
    margin: 0 6px 0 0;
    outline: 0;
    padding: 7px 0;
    vertical-align: middle;
    /*width: 140px;*/
}

.gis_GeocoderDijit .esriGeocoderMultiple input {
    width: 146px;
}

.gis_GeocoderDijit .dj_rtl .esriGeocoder input {
    float: right;
}

.gis_GeocoderDijit .esriGeocoder input:focus {
    color: #333;
}

.gis_GeocoderDijit .esriGeocoder .esriGeocoderSearch {
    display: none;
}

.gis_GeocoderDijit .dj_rtl .esriGeocoder .esriGeocoderSearch {
    margin-left: 0;
    margin-right: 6px;
}

.gis_GeocoderDijit .esriGeocoder .esriGeocoderSearch:hover, .gis_GeocoderDijit .esriGeocoder .esriGeocoderSearch:focus {
    opacity: .75;
}

.gis_GeocoderDijit .esriGeocoder .esriGeocoderReset {
    display: none;
    float: right;
    margin: 6px 6px 6px 0;
}

.gis_GeocoderDijit .dj_rtl .esriGeocoder .esriGeocoderReset {
    float: left;
    margin: 6px 0 6px 6px;
}

.gis_GeocoderDijit .esriGeocoderHasValue .esriGeocoderReset {
    background: url(../images/geocoder.png) no-repeat -48px 0;
    cursor: pointer;
    display: block;
}

.gis_GeocoderDijit .esriGeocoderLoading .esriGeocoderReset {
    background: url(../images/loading.gif) center center no-repeat;
}

.gis_GeocoderDijit .esriGeocoder .esriGeocoderReset:hover, .gis_GeocoderDijit .esriGeocoder .esriGeocoderReset:focus {
    opacity: .75;
}

.gis_GeocoderDijit .esriGeocoder .esriGeocoderMenuArrow {
    background: url(../images/geocoder.png) no-repeat -32px 0;
    cursor: pointer;
    display: none;
}

.gis_GeocoderDijit .esriGeocoderMultiple .esriGeocoderMenuArrow {
    display: block;
}

.gis_GeocoderDijit .esriGeocoder .esriGeocoderMenuArrow:hover, .gis_GeocoderDijit .esriGeocoder .esriGeocoderMenuArrow:focus {
    opacity: .75;
}

.gis_GeocoderDijit .esriGeocoderResults {
    background: #fff;
    border: 1px solid #57585A;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    border-top: 0;
    display: none;
    left: 0;
    margin: -3px 0 0 -31px;
    padding: 0;
    position: absolute;
    top: 100%;
    width: 225px;
    z-index: 99;
}

.gis_GeocoderDijit .esriGeocoderResult {
    cursor: pointer;
    display: block;
    outline: 0;
    overflow: hidden;
    padding: 6px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gis_GeocoderDijit .esriGeocoderResultOdd {}

.gis_GeocoderDijit .esriGeocoderResult:hover, .esriGeocoderResultEven:focus, .esriGeocoderResultOdd:focus {
    background-color: #ededed;
}

.gis_GeocoderDijit .esriGeocoderResultLast {
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.gis_GeocoderDijit .esriGeocoderResult .esriGeocoderResultPartial {
    font-weight: 700;
}

.gis_GeocoderDijit .esriGeocoderMenu {
    background: #fff;
    border: 1px solid #57585A;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    border-top: 0;
    display: none;
    left: 0;
    margin: 0 0 0 -2px;
    padding: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 99;
}

.gis_GeocoderDijit .dj_rtl .esriGeocoderMenu, .gis_GeocoderDijit .dj_rtl .esriGeocoderResults {
    left: auto;
    right: 0;
}

.gis_GeocoderDijit .esriGeocoderMenu .esriGeocoderMenuHeader {
    background: #666;
    color: #fff;
    display: block;
    font-weight: 700;
    margin: 0;
    padding: 6px;
}

.gis_GeocoderDijit .esriGeocoderMenu .esriGeocoderMenuClose {
    background: url(../images/geocoder.png) no-repeat -64px 0;
    cursor: pointer;
    display: block;
    float: right;
    height: 16px;
    outline: 0;
    width: 16px;
}

.gis_GeocoderDijit .dj_rtl .esriGeocoderMenu .esriGeocoderMenuClose {
    float: left;
}

.gis_GeocoderDijit .esriGeocoderMenu .esriGeocoderMenuClose:hover, .gis_GeocoderDijit .esriGeocoderMenu .esriGeocoderMenuClose:focus {
    opacity: .75;
}

.gis_GeocoderDijit .esriGeocoderMenu .esriGeocoderSelectedCheck {
    display: block;
    float: right;
    height: 16px;
    margin: 0 0 0 6px;
    width: 16px;
}

.gis_GeocoderDijit .dj_rtl .esriGeocoderMenu .esriGeocoderSelectedCheck {
    float: left;
    margin: 0 6px 0 0;
}

.gis_GeocoderDijit .esriGeocoderMenu .esriGeocoderSelected .esriGeocoderSelectedCheck {
    background: url(../images/geocoder.png) no-repeat -16px 0;
}