.cmv .dijitToolbar .dijitButtonContents {
    padding: 1px !important;
}

.cmv .dijitTitlePane {
    margin-bottom: 2px;
    background-color: #FFF;
}

.cmv .dijitTitlePaneTitle {
    color: #666;
    background-color: #F5F5F5;
}

.cmv .dijitTitlePaneTitleOpen {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.cmv label {
    font-weight: bold;
}

.cmv :focus {
    outline: none !important;
}

/* icons for the sidebar */

.cmv .dijitTitlePane .dijitTitlePaneTextNode:before,
.cmv .dijitDialogTitleBar:before {
    font-family:'FontAwesome';
    margin-right: 8px;
}

.cmv #bookmarks_parent .dijitTitlePaneTextNode:before {
    content: '\f02e'
}
.cmv #directions_parent .dijitTitlePaneTextNode:before {
    content: '\f277'
}
.cmv #draw_parent .dijitTitlePaneTextNode:before {
    content: '\f1fc'
}
.cmv #editor_parent .dijitTitlePaneTextNode:before {
    content: '\f040'
}
.cmv #find_parent .dijitTitlePaneTextNode:before {
    content: '\f002';
}
.cmv #help_parent .dijitTitlePaneTextNode:before {
    content: '\f059'
}
.cmv #identify_parent .dijitTitlePaneTextNode:before {
    content: '\f05a'
}
.cmv #layerControl_parent .dijitTitlePaneTextNode:before{
    content: '\f00b';
}
.cmv #legend_parent .dijitTitlePaneTextNode:before {
    content: '\f03e'
}
.cmv #measurement_parent .dijitTitlePaneTextNode:before {
    content: '\f065'
}
.cmv #print_parent .dijitTitlePaneTextNode:before {
    content: '\f02f';
}
.cmv #streetview_parent .dijitTitlePaneTextNode:before {
    content: '\f21d';
}
/* end custom icons */

/* esri popup window overrides */

.cmv .esriPopup .sizer {
    width: 325px;
}

.cmv .esriPopup .esriPopupWrapper {
    background-color: #FFFFFF;
}
.cmv .esriPopup .attachmentsSection div {
    font-weight: bold;
}
.cmv .esriPopup .contentPane table.attrTable {
    width: 100%;
    border-collapse: collapse;
}
.cmv .esriPopup .contentPane table.attrTable td {
    padding: 2px;
}
.cmv .esriPopup .contentPane table.attrTable td.attrName {
    text-align: right;
    font-weight: bold;
    color: #333333;
    width: 40%;
    padding-right: 5px;
}
.cmv .esriPopup .contentPane table.attrTable td.attrValue {
    width: 60%;
}
.cmv .esriPopup .contentPane table.attrTable tr {
    vertical-align: top;
    border-bottom: 1px solid rgb(221, 221, 221);
}
.cmv .esriPopup .contentPane table.attrTable tr:nth-child(odd) {
    background-color: none;
}
.cmv .esriPopup .contentPane table.attrTable tr:nth-child(even) {
    background-color: rgb(238, 238, 238);
}

/* end esri popup window overrides */

/* esri mobile popup overrides */

.cmv .esriPopupMobile {
    z-index: 999;
}
.cmv .esriMobileNavigationBar {
    background-color: #666666;
    background: url("../images/linen.jpg") repeat-x scroll left top transparent;
    color: #FFFFFF;
}
.cmv .esriPopupMobile .titlePane {
    background-color: #666666;
    background: url("../images/linen.jpg") repeat-x scroll left top transparent;
    color: #FFFFFF;
}
.cmv .esriPopupMobile .pointer.bottom{
    background:url("../images/pointertop.png");
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.cmv .esriPopupMobile .pointer.top {
    background:url("../images/pointertop.png");
}

/* end esri mobile popup overrides */

/* esri directions widget overrides */
.cmv .simpleDirections .esriDirectionsButton {
    background-color: #E6E6E6;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #e6e6e6));
    background-image: -webkit-linear-gradient(top, #fff 0%, #e6e6e6 100%);
    background-image: -moz-linear-gradient(top, #fff 0%, #e6e6e6 100%);
    background-image: -o-linear-gradient(top, #fff 0%, #e6e6e6 100%);
    background-image: -ms-linear-gradient(top, #fff 0%, #e6e6e6 100%);
    background-image: linear-gradient(top, #fff 0%, #e6e6e6 100%);
    background-repeat: repeat-x;
    border: 1px solid #BBB;
    border-bottom: 1px solid #A8A8A8;
    padding: 0px 12px;
    color: #000;
    letter-spacing: 0;
    text-transform: none;
}
.cmv .simpleDirections .esriStopsGetDirections:before {
    content: '\f277';
    font-family: 'FontAwesome';
    margin-right: 8px;
}

.cmv .simpleDirections .esriResultsPrint {
    padding: 8px;
}

.cmv .simpleDirections .esriResultsPrint:before {
    content: '\f02f';
    font-family: 'FontAwesome';
    font-size: 14px;
}

.cmv .simpleDirections .esriLinkButton {
    color: #000;
    letter-spacing: 0;
    text-transform: none;
}
/* end esri directions widget overrides */

/* flat theme */
/* makes the flat theme more like dbootstrap */
.flat {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.flat a,
.flat a:hover {
    text-decoration: none;
}

.flat .dijitTitlePane {
    border-color: #E0E0E0;
}

.flat .dijitTabContainerTop-tabs .dijitTabChecked:before {
    height: 3px;
    background-color: #666;
    top: -1px;
    left: -1px;
    right: -1px;
}

.flat .dijitTitlePaneTitle {
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 8px 15px;
}

.flat .dijitDialogTitleBar {
    background-color: #F5F5F5;
    color: #666;
}

.flat .dijitTitlePaneContentOuter {
    border: 1px solid #DDD;
    border-top: none;
}

.flat .dijitButton .dijitButtonNode,
.flat .dijitDropDownButton .dijitButtonNode,
.flat .dijitComboButton .dijitButtonNode,
.flat .dijitToggleButton .dijitButtonNode,
.flat .dijitComboBox .dijitButtonNode,
.flat .dijitSpinnerButtonContainer.dijitButtonNode,
.flat .dijitSelect .dijitButtonNode {
    background-color: #E6E6E6;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #e6e6e6));
    background-image: -webkit-linear-gradient(top, #fff 0%, #e6e6e6 100%);
    background-image: -moz-linear-gradient(top, #fff 0%, #e6e6e6 100%);
    background-image: -o-linear-gradient(top, #fff 0%, #e6e6e6 100%);
    background-image: -ms-linear-gradient(top, #fff 0%, #e6e6e6 100%);
    background-image: linear-gradient(top, #fff 0%, #e6e6e6 100%);
    background-repeat: repeat-x;
    border-color: #BBB;
    border-bottom-color: #A8A8A8;
    padding: 4px 12px;
}

.flat .success .dijitButtonNode {
    background: #409843;
    color: #FFF;
    border-color: #39883c;
}
.flat .danger .dijitButtonNode {
    background: #e32d29;
    color: #FFF;
    border-color: #d4201b;
}

.flat .dijitTextBoxHover,
.flat .dijitTextBoxFocused,
.flat .dijitCheckBoxChecked,
.flat .dijitCheckBoxHover,
.flat .dijitCheckBoxCheckedHover,
.flat .dijitRadio,
.flat .dijitRadioIcon,
.flat .dijitRadioHover {
    border-color: #666;
}
.flat .dijitCheckBoxChecked,
.flat .dijitRadio:after,
.flat .dijitRadioIcon:after {
    background-color: #999;
}

/* end flat theme */
