body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*font-family: Tahoma;*/
    font-size: 14px;
}
.appHeader {
    background: url("../images/linen.jpg") repeat-x scroll left top transparent;
    height: 70px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.appHeader .headerLogo {
    float: left;
    left: 30px;
    position: relative;
    top: 8px;
}
.appHeader .headerTitle {
    color: #FFFFFF;
    float: left;
    font-size: 16pt;
    font-weight: bold;
    left: 60px;
    top: 15px;
    position: relative;
}
.appHeader .subHeaderTitle {
    color: #CFCFCF;
    font-size: small;
    padding-left: 20px;
}
.appHeader .search {
    float: left;
    left: 80px;
    position: relative;
    top: 18px;
}
.appHeader .headerLinks {
    float: right;
    color: #FFFFFF;
    position: relative;
    top: 27px;
    right: 10px;
    text-align: right;
}
.appHeader .headerLinks a {
    color: #FFFFFF;
}
#borderContainer {
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF
}
#sidebar {
    width: 334px;
    padding: 4px;
    margin: 0;
    overflow: auto;
    overflow-x: hidden;
    border-right: 1px solid #B5BCC7;
}
#map {
    padding: 0;
    overflow: hidden;
    background: url("../images/noisy_grid.png") #fff;
}
.HomeButton, .LocateButton {
    margin-bottom: 10px;
}
.titlePaneBottomFix {
    margin-bottom: -1px;
}
.titlePaneRightFix {
    margin-right: -1px;
}
.sidebarCollapseButton {
    width: 16px;
    height: 25px;
    position: absolute;
    top: 250px;
    border-top: 1px solid #B5BCC7;
    border-right: 1px solid #B5BCC7;
    border-bottom: 1px solid #B5BCC7;
    z-index: 40;
    background-color: white;
    border-radius: 0 5px 5px 0;
    background-position: -1px 4px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.sidebarCollapseButton.close {
    left: 342px;
    background-image: url("../images/close.png");
}
.sidebarCollapseButton.open {
    background-image: url("../images/open.png");
    left: 0;
}
.floatingWidget_underlay {
    display: none
}
#help_parent_underlay {
    display: block;
}
.floatingWidgetMove:before {
    float: right;
    margin-left: 10px;
    content: "\f047";
    font-family: FontAwesome;
}
.floatingWidgetDock:before {
    float: right;
    content: "\f112";
    font-family: FontAwesome;
}

/* dbootstrap overrides*/

.dbootstrap .dijitToolbar .dijitButtonContents {
    padding: 1px !important;
}
.dbootstrap .dijitTitlePane {
    border: 1px solid #DDDDDD;
    margin-bottom: 2px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.dbootstrap .dijitTitlePaneTitle {
    color: #666666 !important;
    border-bottom: none;
    padding: 8px 15px;
    background-color: #F5F5F5;
}
.dijitSliderBarContainerH {
    z-index: 0 !important;
}
.dbootstrap .dijitTitlePaneContentInner {
    background-color: #FFFFFF;
}
.dbootstrap :focus {
    outline: none !important;
}
/* end dbootstrap overrides*/
