body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header {
    background: url("../images/linen.jpg") repeat-x scroll left top transparent;
    height: 70px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.header .headerLogo {
    float: left;
    left: 30px;
    position: relative;
    top: 8px;
}

.header .headerTitle {
    color: #FFFFFF;
    float: left;
    font-size: 16pt;
    font-weight: bold;
    left: 60px;
    top: 15px;
    position: relative;
}

.header .subHeaderTitle {
    color: #CFCFCF;
    font-size: small;
    padding-left: 20px;
}

.header .search {
    float: left;
    left: 80px;
    position: relative;
    top: 18px;
}

.header .headerLinks {
    float: right;
    color: #FFFFFF;
    position: relative;
    top: 27px;
    right: 10px;
}

.header .headerLinks a {
    color: #FFFFFF;
}

#borderContainer {
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF
}

#sidebar {
    width: 300px;
    padding: 0;
    margin: 0;
    overflow: auto;
    overflow-x: hidden;
    border-right: 1px solid #B5BCC7;
}

#map {
    padding: 0;
}

.titlePaneBottomFix {
    margin-bottom: -1px;
}

.titlePaneRightFix {
    margin-right: -1px;
}

.sidebarCollapseButton {
    width: 20px;
    height: 25px;
    position: absolute;
    top: 220px;
    border-top: 1px solid #B5BCC7;
    border-right: 1px solid #B5BCC7;
    border-bottom: 1px solid #B5BCC7;
    z-index: 40;
    background-color: white;
    border-radius: 0 5px 5px 0;
    background-position: 2px 4px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.sidebarCollapseButton.close {
    left: 300px;
    background-image: url("../images/close.png");
}

.sidebarCollapseButton.open {
    background-image: url("../images/open.png");
    left: 0;
}



