body, html {
    font-size: 14px;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

.appHeader {
    background: url("../images/linen.jpg") repeat-x scroll left top transparent;
    height: 70px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.appHeader .headerLogo {
    float: left;
    left: 30px;
    position: relative;
    top: 8px;
}

.appHeader .headerTitle {
    color: #FFFFFF;
    float: left;
    font-size: 16pt;
    font-weight: bold;
    left: 60px;
    position: relative;
    top: 15px;
}

.appHeader .subHeaderTitle {
    color: #CFCFCF;
    font-size: small;
    padding-left: 20px;
}

.appHeader .search {
    float: left;
    left: 80px;
    position: relative;
    top: 18px;
}

.appHeader .headerLinks {
    color: #FFFFFF;
    float: right;
    position: relative;
    right: 10px;
    text-align: right;
    top: 27px;
}

.appHeader .headerLinks a {
    color: #FFFFFF;
}

#borderContainerOuter {
    background-color: #FFFFFF;
    border: none;
    bottom: 0;
    left: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 70px;
}

#sidebarLeft {
    border-right: 1px solid #B5BCC7;
    margin: 0;
    overflow: auto;
    overflow-x: hidden;
    padding: 4px;
    width: 334px;
}

#sidebarRight {
    border-left: 1px solid #B5BCC7;
    margin: 0;
    overflow: auto;
    overflow-x: hidden;
    padding: 4px;
    width: 300px;
}

#sidebarBottom {
    border-top: 1px solid #B5BCC7;
    height: 100px;
    margin: 0;
    overflow: auto;
    overflow-x: hidden;
    padding: 4px;
}

#sidebarTop {
    border-bottom: 1px solid #B5BCC7;
    height: 50px;
    margin: 0;
    overflow: auto;
    overflow-x: hidden;
    padding: 4px;
}

#mapCenter {
    background: url("../images/noisy_grid.png") #fff;
    overflow: hidden;
    padding: 0;
}

.cmv-widget {
    position: absolute;
    z-index: 40;
}

.cmv-widget-mapinfo {
    bottom: 0;
    left: 0;
}

.cmv-widget-basemaps {
    right: 20px;
    top: 20px;
}

.cmv-widget-growler {
    right: 20px;
    top: 60px;
    width: 250px;
}

.cmv-widgets-left {
    left: 19px;
    top: 87px;
}

.cmv-widget-geocoder {
    left: 64px;
    top: 20px;
}

.panetop {
    border-top: 1px solid #B5BCC7;
}

.panebottom {
    border-bottom: 1px solid #B5BCC7;
}

.paneleft {
    border-left: 1px solid #B5BCC7;
}

.paneright {
    border-right: 1px solid #B5BCC7;
}

.HomeButton, .LocateButton {
    margin-bottom: 10px;
}

.titlePaneBottomFix {
    margin-bottom: -1px;
}

.titlePaneRightFix {
    margin-right: -1px;
}

.sidebarCollapseButton {
    background-color: white;
    color: #666666;
    cursor: pointer;
    font-family: FontAwesome;
    font-size: 1.3em;
    position: absolute;
    z-index: 40;
}

.sidebarCollapseButtonHorz {
    border-bottom: 1px solid #B5BCC7;
    border-top: 1px solid #B5BCC7;
    height: 25px;
    top: 48%;
    top: -webkit-calc(50% - 12px);
    top: -moz-calc(50% - 12px);
    top: -o-calc(50% - 12px);
    top: calc(50% - 12px);
    width: 16px;
}

.sidebarCollapseButtonVert {
    border-left: 1px solid #B5BCC7;
    border-right: 1px solid #B5BCC7;
    height: 18px;
    left: 48%;
    left: -webkit-calc(50% - 12px);
    left: -moz-calc(50% - 12px);
    left: -o-calc(50% - 12px);
    left: calc(50% - 12px);
    width: 25px;
}

.sidebarleftCollapseButton {
    border-radius: 0 5px 5px 0;
    border-right: 1px solid #B5BCC7;
    left: -1px;
}

.sidebarrightCollapseButton {
    border-left: 1px solid #B5BCC7;
    border-radius: 5px 0 0 5px;
    right: -1px;
}

.sidebarbottomCollapseButton {
    border-radius: 5px 5px 0 0;
    border-top: 1px solid #B5BCC7;
    bottom: -1px;
}

.sidebartopCollapseButton {
    border-bottom: 1px solid #B5BCC7;
    border-radius: 0 0 5px 5px;
    top: -1px;
}

.sidebarCollapseButton .open:before, .sidebarCollapseButton .close:before {
    font-family: FontAwesome;
}

.sidebarCollapseButtonHorz .button {
    padding-left: 2px;
    padding-top: 4px;
}

.sidebarCollapseButtonVert .button {
    margin-top: -2px;
    padding-left: 4px;
}

.sidebarleftCollapseButton .open:before {
    content: "\f054";
}

.sidebarleftCollapseButton .close:before {
    content: "\f053";
}

.sidebarrightCollapseButton .open:before {
    content: "\f053";
}

.sidebarrightCollapseButton .close:before {
    content: "\f054";
}

.sidebarbottomCollapseButton .open:before {
    content: "\f077";
}

.sidebarbottomCollapseButton .close:before {
    content: "\f078";
}

.sidebartopCollapseButton .open:before {
    content: "\f078";
}

.sidebartopCollapseButton .close:before {
    content: "\f077";
}

.floatingWidget_underlay {
    display: none
}

#help_parent_underlay {
    display: block;
}

.widgetLoader {
    color: #333;
    display: block;
    font-size: 18px;
    left: 0;
    margin: 4px;
    text-align: center;
    top: 0;
    width: 100%;
}


/*
    media queries bootstrap style
    https://getbootstrap.com/css/#grid-media-queries
*/

@media screen and (max-width: 991px) {
    /* adjust the l/r sidebars on small and extra-small devices. */
    #sidebarLeft {
        max-width: 95%;
        width: 204px;
    }
    #sidebarRight {
        display: none;
        max-width: 95%;
    }
}

@media screen and (max-width: 767px) {
    /* hide the sidebars by default on extra-small devices (phones) */
    #sidebarLeft, #sidebarBottom, #sidebarTop {
        display: none;
    }
    /* no search widget in app header */
    .appHeader .search {
        display: none;
    }
    /* no logo in app header */
    .appHeader .headerLogo {
        display: none;
    }
    /* move the title when no logo */
    .appHeader .headerTitle {
        left: 10px;
    }
}


/* end media queries bootstrap style */