<div class="gis_NavToolbarDijit">
    <div class="formContainer">
		<div style="padding:5px;">
		<button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'zoominIcon',showLabel:true"
			data-dojo-attach-event="onClick:zoomIn">Zoom In</button>
		<button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'zoomoutIcon',showLabel:true"
			data-dojo-attach-event="onClick:zoomOut">Zoom Out</button>
		<button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'zoomfullextIcon',showLabel:true"
			data-dojo-attach-event="onClick:fullExtent">Full Extent</button>
		<button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'zoomprevIcon',showLabel:true"
			data-dojo-attach-event="onClick:prevExtent">Prev Extent</button>
		<button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'zoomnextIcon',showLabel:true"
			data-dojo-attach-event="onClick:nextExtent">Next Extent</button>
		<button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'panIcon',showLabel:true"
			data-dojo-attach-event="onClick:pan">Pan</button>
		<button data-dojo-type="dijit.form.Button" data-dojo-props="iconClass:'deactivateIcon',showLabel:true"
			data-dojo-attach-event="onClick:deactivate">Deactivate</button>
		</div>
	</div>
</div>
