/*
 *  cbtree CheckBox Widgets CSS
 *
 *	Order of images in the sprite (from L to R):
 *		checkbox	normal 	 - checked
 *							 - unchecked
 *							 - mixed
 *					disabled - checked
 *							 - unchecked
 *							 - mixed
 *					hover 	 - checked
 *							 - unchecked
 *							 - mixed
*/
.claro .cbtreeCheckBox {
	background-image: url('images/spriteCheckbox.gif'); /* checkbox sprite image */
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
}

.claro .cbtreeCheckBox {
	/* unchecked */
	background-position: -16px;
}

.claro .cbtreeCheckBoxChecked {
	/* checked */
	background-position: 0px;
}

.claro .cbtreeCheckBoxMixed {
	/* checked & mixed */
	background-position: -32px;
}

.claro .cbtreeCheckBoxDisabled {
	/* disabled */
	background-position: -64px;
}

.claro .cbtreeCheckBoxCheckedDisabled {
	/* disabled but checked */
	background-position: -48px;
}

.claro .cbtreeCheckBoxMixedDisabled {
	/* checked & mixed */
	background-position: -80px;
}

.claro .cbtreeCheckBoxReadOnly {
	/* disabled */
	background-position: -64px;
}

.claro .cbtreeCheckBoxCheckedReadOnly {
	/* disabled but checked */
	background-position: -48px;
}

.claro .cbtreeCheckBoxMixedReadOnly {
	/* checked & mixed */
	background-position: -80px;
}

.claro .cbtreeCheckBoxHover {
	/* hovering over an unchecked enabled checkbox */
	background-position: -112px;
}

.claro .cbtreeCheckBoxCheckedHover {
	/* hovering over a checked enabled checkbox */
	background-position: -96px;
}

.claro .cbtreeCheckBoxMixedHover {
	/* checked & mixed */
	background-position: -128px;
}
